parameters:
	ignoreErrors:
		-
			message: "#^Method Facile\\\\TerminableLoop\\\\AbstractTerminableCommand\\:\\:handleSignal\\(\\) has parameter \\$signal with no typehint specified\\.$#"
			count: 1
			path: src/AbstractTerminableCommand.php

		-
			message: "#^Method Facile\\\\TerminableLoop\\\\Tests\\\\E2E\\\\TerminateCommandTest\\:\\:commandLineProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/E2E/TerminateCommandTest.php

		-
			message: "#^Method Facile\\\\TerminableLoop\\\\Tests\\\\E2E\\\\TerminateCommandTest\\:\\:assertCommandIsFound\\(\\) has parameter \\$process with no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\Process\\.$#"
			count: 1
			path: tests/E2E/TerminateCommandTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/AbstractTerminableCommandTest\\.php\\:84\\:\\:__construct\\(\\) has parameter \\$signal with no typehint specified\\.$#"
			count: 1
			path: tests/Unit/AbstractTerminableCommandTest.php

		-
			message: "#^Method Facile\\\\TerminableLoop\\\\Tests\\\\Unit\\\\AbstractTerminableCommandTest\\:\\:signalProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/AbstractTerminableCommandTest.php

